label span {
  width: 25px;
  height: 25px;
  position: relative;
  border: 2px solid #007cbb;
  border-radius: 50%;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
label span:before {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  transform: rotate(45deg);
  top: 10px;
  left: 5px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
label span:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transform: rotate(305deg);
  top: 15px;
  left: 9px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
label:hover span:before {
  background-color: #007cbb;
  width: 8px;
  transition: width 100ms ease;
}
label:hover span:after {
  background-color: #007cbb;
  width: 12px;
  transition: width 150ms ease 100ms;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label span {
  background-color: #fff;
  transform: scale(1.25);
}
input[type="checkbox"]:checked + label span:after {
  width: 12px;
  background: #007cbb;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label span:before {
  width: 8px;
  background: #007cbb;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label:hover span {
  background-color: #fff;
  transform: scale(1.25);
}
input[type="checkbox"]:checked + label:hover span:after {
  width: 12px;
  background: #007cbb;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label:hover span:before {
  width: 8px;
  background: #007cbb;
  transition: width 150ms ease 100ms;
}
