.primary {
    background-color: #007cbb;
}
.secondary {
    background: #a5be2c;
}
.v-align {
    vertical-align: middle;
}
.eighty {
    width: 80%
}
.fifty {
    width: 50%
}
.header-logo {
    background-image: url('../images/talk-bubble.png');
    background-repeat: no-repeat;
    background-size: 160px;
    background-position-x: 150px;
}
.footer-logo {
    background-image: url('../images/talk-bubble-color.png');
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: calc(100% - 250px);
}
.bgimg1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/stock1.jpg");
}
.bgimg2 {
    background-position: center;
    background-size: cover;
    //background-image: url("../images/stock2.jpg");
    background-color: #c4daff;
}
.login-form {
    float: right;
    position: relative;
    top: 10%;
    height: 75%;
    background: rgba(241, 241, 241, 0.8);

}
.login-logo {
    height: 50px;
}
.form {
    margin: auto;
    width: 50%;
    min-width: 400px;
    background: rgba(250, 250, 250, 0.9);

}
.tips {
    width: 20%;
    position: absolute;
    top: 20%;
    left: 75%
}
.register-logo {
    height: 50px;
}
.corporate-logo {
    height: 250px;
}
.dropdown {
    width: 400px;
    max-height: 260px;
    overflow: scroll;
}
