.primary {
    background-color: #007cbb;
}
.secondary {
    background: #a5be2c;
}
.v-align {
    vertical-align: middle;
}
.eighty {
    width: 80%
}
.sixty {
    width: 60%
}
.header {
    height: 6.75rem;
    background-image: url('../images/talk-bubble.png');
    background-repeat: no-repeat;
    background-position: 24.25rem -1.125rem;
    background-size: 10.5rem;
}
.header-logo {
    font-family: "Raleway","Helvetica",sans-serif !important;
    position: relative;
    left: 6.25rem;
    top: 3.5rem;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: .125rem;
    padding: 1.375rem 0 0;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.footer {
    height: 10.5rem;
    background-image: url('../images/talk-bubble-color.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 8rem 2.5rem;
}
.footer-logo {
    font-family: "Raleway","Helvetica",sans-serif !important;
    color: #555559;
    position: relative;
    left: 13.85rem;
    top: 1.5rem;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: .125rem;
    padding: 1.375rem 0 0;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.social {
    position: relative;
    top: 1.75rem;
    right: 6.25rem;
}
.bgimg1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/stock1.jpg");
}
.bgimg2 {
    background-position: center;
    background-size: cover;
    //background-image: url("../images/stock2.jpg");
    background-color: #c4daff;
}
.login-form {
    float: right;
    position: relative;
    top: 10%;
    height: 75%;
    background: rgba(241, 241, 241, 0.8);

}
.login-logo {
    height: 50px;
}
.progress {
    margin: auto;
    width: 50%;
    min-width: 400px;

}
.form {
    margin: auto;
    width: 50%;
    min-width: 400px;
    background: rgba(250, 250, 250, 0.9);

}
.tips {
    width: 20%;
    position: absolute;
    left: 75%
}
.register-logo {
    height: 50px;
}
.corporate-logo {
    height: 250px;
}
.dropdown {
    width: 400px;
    max-height: 260px;
    overflow: scroll;
}
