.primary {
    background-color: #007cbb;
}
.secondary {
    background: #a5be2c;
}
.header-logo {
    background-image: url('../images/talk-bubble.png');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: 150px;
}
.footer-logo {
    background-image: url('../images/talk-bubble-color.png');
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: calc(100% - 230px);
}
