version: "2"
services:
    nginx:
        container_name: nginx
        build:
            context: ./nginx
        ports:
            - 80:80
            - 443:443
        links:
            - fpm
        volumes:
            - ./src/public:/var/www/html/public
    fpm:
        container_name: fpm
        build:
            context: ./fpm
        links:
            - mysql
            - redis
        volumes:
            - ./src:/var/www/html
        environment:
            - DB_HOST=mysql
            - DB_USERNAME=
            - DB_PASSWORD=
            - REDIS_HOST=redis
    mysql:
        container_name: mysql
        image: mysql:latest
        environment:
            - MYSQL_ROOT_PASSWORD=
            - MYSQL_DATABASE=InsuranceSocialMedia
        volumes:
          - ./data:/var/lib/mysql
    redis:
        container_name: redis
        image: redis:latest
